<!--<< Breadcrumb Section Start >>-->
<style>
    .faq .access {
        color: white;
    }

    .wrapper {
        max-width: 1200px;
        margin: auto;
    }

    .faq-rows {
        padding: 50px
    }

    .wrapper > p,
    .wrapper > h1 {
        margin: 1.5rem 0;
        text-align: center;
    }

    .wrapper > h1 {
        letter-spacing: 3px;
    }

    .faq .access {
        background-color: #0a0808;
        color: black solid(0,0,0,0.8);
        cursor: pointer;
        font-size: 1.2rem;
        width: 100%;
        padding: 1rem 1.5rem;
        border: none;
        outline: none;
        transition: 0.4s;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

        .faq .access i {
            font-size: 1.2rem;
        }

        /* .faq .active, */
        .faq .access:hover {
            background-color: #8B0000;
        }

    .faq .pannel {
        padding: 0 2rem 2.5rem 2rem;
        background-color: white;
        overflow: hidden;
        background-color: white;
        display: none;
    }

        .faq .pannel p {
            color: rgba(0,0,0,0.7);
            font-size: 1.0rem;
            line-height: 1.1;
            padding: 15px;
            transition: ease .3s;
        }

    .faq .panel p:hover {
        animation: all .3s ease
    }


    .faq.active {
        border: none;
    }
</style>
<div class="breadcrumb-wrapper section-padding bg-cover" style="background-image: url('/assets/img/brand/breadcrumb (1).jpg')">
    <div class="container">
        <div class="page-heading">
            <h1 class="wow fadeInUp" data-wow-delay=".3s">Faq</h1>
            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                <li>
                    <a href="@Url.Action("Index","website")">
                        Home Page
                    </a>
                </li>
                <li>
                    <i class="fal fa-minus"></i>
                </li>
                <li>
                    Faq
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<< Faq Section Start >>-->
<section class="faq-section fix section-padding">
    <div class="container">
        <div class="faq-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <span class="wow fadeInUp">FAQ</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">
                            Frequently Asked <br> Questions
                        </h2>
                    </div>
                    <p class="mt-3 mt-md-0 mb-2 wow fadeInUp" data-wow-delay=".5s">
                        Sed ut perspiciatis unde omniste natus voluptatem <br> accusantiume rem  aperia eaque quae abillo inventore <br> veritatis quasi architecto beatae vitae
                    </p>
                    <a href="#" class="theme-btn mt-4 wow fadeInUp" data-wow-delay=".7s">
                        <span> Read More <i class="fas fa-chevron-right"></i></span>
                    </a>
                </div>
                <div class="col-lg-6 mt-5 mt-lg-0">
                    @foreach (var faq in Model.faqDetails)
                    {


                        <div class="faq-rows">

                            <div class="faq" style="margin: 2px 0;">
                                <button class="access">
                                    @faq.faq_ques
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </button>
                                <div class="pannel">
                                    <p>
                                        @faq.faq_ans
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ..........SCRIPT START......... -->
<script>
    var acc = document.getElementsByClassName("access");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function
            () {
            this.classList.toggle("active");
            this.parentElement.classList.toggle("active");

            var pannel = this.nextElementSibling;

            if (pannel.style.display === "block") {
                pannel.style.display = "none";
            } else {
                pannel.style.display = "block";
            }
        });
    }
</script>