     <!--<< Breadcrumb Section Start >>-->
<div class="breadcrumb-wrapper section-padding bg-cover" style="background-image: url('/assets/img/brand/breadcrumb (1).jpg');">
    <div class="container">
        <div class="page-heading">
            <h1 class="wow fadeInUp" data-wow-delay=".3s">our services</h1>
            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                <li>
                    <ahref ="@Url.Action("Index", "website")">
                        Home
                        </a>
                </li>
                <li>
                    <i class="fal fa-minus"></i>
                </li>
                <li>
                    Service
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<< Service Section Start >>-->
<section class="service-section fix section-padding">
    <div class="container">
        <div class="section-title text-center">
            <span class="wow fadeInUp">our fucusable services</span>
            <h2 class="wow fadeInUp" data-wow-delay=".3s">
                How do we work to help you <br>
                in Startup Business
            </h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="service-box-items">
                    <div class="icon">
                        <i class="flaticon-wifi-router-5"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">
                                Broadband
                            </a>
                        </h3>
                        <p>
                            We approached WiaTech with
                            complex project deliver
                        </p>
                        <a href="#" class="arrow-icon">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="service-box-items active">
                    <div class="icon">
                        <i class="flaticon-wi-fi"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">
                                WIFI Internet
                            </a>
                        </h3>
                        <p>
                            We approached WiaTech with
                            complex project deliver
                        </p>
                        <a href="#" class="arrow-icon">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                <div class="service-box-items">
                    <div class="icon">
                        <i class="flaticon-satellite-tv"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">
                                Satellite TV
                            </a>
                        </h3>
                        <p>
                            We approached WiaTech with
                            complex project deliver
                        </p>
                        <a href="#" class="arrow-icon">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                <div class="service-box-items">
                    <div class="icon">
                        <i class="flaticon-tv-box"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">
                                TV box
                            </a>
                        </h3>
                        <p>
                            We approached WiaTech with
                            complex project deliver
                        </p>
                        <a href="#" class="arrow-icon">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="service-box-items">
                    <div class="icon">
                        <i class="flaticon-server"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Hosting Service</a>
                        </h3>
                        <p>
                            Our service offerings enhance
                            experience throughout highly
                        </p>
                        <a href="#" class="arrow-icon">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="service-box-items">
                    <div class="icon">
                        <i class="flaticon-satellite-dish"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Satelite TV</a>
                        </h3>
                        <p>
                            Our service offerings enhance
                            experience throughout highly
                        </p>
                        <a href="#" class="arrow-icon">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                <div class="service-box-items">
                    <div class="icon">
                        <i class="flaticon-signal"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">Home Internet</a>
                        </h3>
                        <p>
                            Our service offerings enhance
                            experience throughout highly
                        </p>
                        <a href="#" class="arrow-icon">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                <div class="service-box-items">
                    <div class="icon">
                        <i class="flaticon-wifi-router-5"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a href="#">
                                Broadband
                            </a>
                        </h3>
                        <p>
                            We approached WiaTech with
                            complex project deliver
                        </p>
                        <a href="#" class="arrow-icon">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<< Cta Banner Section Start >>-->
<!--<< Feature Icon Box Section Start >>-->
<section class="feature-icon-box-area-2">
    <div class="container">
        <div class="feature-icon-box-wrapper">
            <div class="row g-4">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="icon-box-items">
                        <div class="icon">
                            <i class="flaticon-database"></i>
                        </div>
                        <div class="content">
                            <h3>Voice Over Protocol</h3>
                            <p>
                                Average time to resolve a
                                cyber attack.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                    <div class="icon-box-items active">
                        <div class="icon">
                            <i class="flaticon-server"></i>
                        </div>
                        <div class="content">
                            <h3>Data Backup</h3>
                            <p>
                                Average time to resolve a
                                cyber attack.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                    <div class="icon-box-items">
                        <div class="icon">
                            <i class="flaticon-connection"></i>
                        </div>
                        <div class="content">
                            <h3>
                                Fast Connected
                            </h3>
                            <p>
                                Average time to resolve a
                                cyber attack.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<< Faq Section Start >>-->


<!--<< Testimonial Section Start >>-->
<section class="testimonial-section-2 fix section-padding">
    <div class="container-fluid">
        <div class="testimonial-wrapper-3 pt-0 pb-0 style-2">
            <div class="testimonial-carousel-active-3">
                <div class="testimonial-items">
                    <div class="testimonial-image-area">
                        <div class="testimonial-image bg-cover" style="background-image: url('/assets/img/testimonial/08.png');">
                            <div class="icon">
                                <svg width="33" height="25" viewBox="0 0 33 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.1964 1.98168C30.9987 3.96415 32.08 6.12685 32.08 9.73134C32.08 16.0392 27.5744 21.6262 21.2665 24.5098L19.6445 22.1668C25.5919 18.9228 26.8535 14.7776 27.2139 12.0743C26.3128 12.6149 25.0513 12.7952 23.7897 12.6149C20.5456 12.2545 18.0225 9.73134 18.0225 6.30707C18.0225 4.68505 18.7434 3.06303 19.8247 1.80146C21.0863 0.539885 22.5281 -0.000789642 24.3304 -0.000789642C26.3128 -0.000789642 28.1151 0.900331 29.1964 1.98168ZM11.1739 1.98168C12.9762 3.96415 14.0575 6.12685 14.0575 9.73134C14.0575 16.0392 9.55192 21.6262 3.24406 24.5098L1.62204 22.1668C7.56945 18.9228 8.83102 14.7776 9.19147 12.0743C8.29035 12.6149 7.02878 12.7952 5.7672 12.6149C2.52316 12.2545 1.52588e-05 9.73134 1.52588e-05 6.30707C1.52588e-05 4.68505 0.720913 3.06303 1.80226 1.80146C2.88361 0.539885 4.50563 -0.000789642 6.30788 -0.000789642C8.29035 -0.000789642 10.0926 0.900331 11.1739 1.98168Z" fill="#ff1749" />
                                </svg>
                            </div>
                        </div>
                        <div class="star">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <h3>
                            Climb the mountain not to plant your flag but to embrace
                            the ways challenge, enjoy the air, and behold the. Climb it
                            see the world, not so the world can see you. This is due to their excellent service competitive pricing
                        </h3>
                        <div class="athor-name">
                            <h4>Robert J. Hare/</h4>
                            <p>Graphics Designer</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-items">
                    <div class="testimonial-image-area">
                        <div class="testimonial-image bg-cover" style="background-image: url('/assets/img/testimonial/07.png');">
                            <div class="icon">
                                <svg width="33" height="25" viewBox="0 0 33 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.1964 1.98168C30.9987 3.96415 32.08 6.12685 32.08 9.73134C32.08 16.0392 27.5744 21.6262 21.2665 24.5098L19.6445 22.1668C25.5919 18.9228 26.8535 14.7776 27.2139 12.0743C26.3128 12.6149 25.0513 12.7952 23.7897 12.6149C20.5456 12.2545 18.0225 9.73134 18.0225 6.30707C18.0225 4.68505 18.7434 3.06303 19.8247 1.80146C21.0863 0.539885 22.5281 -0.000789642 24.3304 -0.000789642C26.3128 -0.000789642 28.1151 0.900331 29.1964 1.98168ZM11.1739 1.98168C12.9762 3.96415 14.0575 6.12685 14.0575 9.73134C14.0575 16.0392 9.55192 21.6262 3.24406 24.5098L1.62204 22.1668C7.56945 18.9228 8.83102 14.7776 9.19147 12.0743C8.29035 12.6149 7.02878 12.7952 5.7672 12.6149C2.52316 12.2545 1.52588e-05 9.73134 1.52588e-05 6.30707C1.52588e-05 4.68505 0.720913 3.06303 1.80226 1.80146C2.88361 0.539885 4.50563 -0.000789642 6.30788 -0.000789642C8.29035 -0.000789642 10.0926 0.900331 11.1739 1.98168Z" fill="#ff1749" />
                                </svg>
                            </div>
                        </div>
                        <div class="star">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <h3>
                            Climb the mountain not to plant your flag but to embrace
                            the ways challenge, enjoy the air, and behold the. Climb it
                            see the world, not so the world can see you. This is due to their excellent service competitive pricing
                        </h3>
                        <div class="athor-name">
                            <h4>Robert J. Hare/</h4>
                            <p>Graphics Designer</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-items">
                    <div class="testimonial-image-area">
                        <div class="testimonial-image bg-cover" style="background-image: url('/assets/img/testimonial/09.png');">
                            <div class="icon">
                                <svg width="33" height="25" viewBox="0 0 33 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.1964 1.98168C30.9987 3.96415 32.08 6.12685 32.08 9.73134C32.08 16.0392 27.5744 21.6262 21.2665 24.5098L19.6445 22.1668C25.5919 18.9228 26.8535 14.7776 27.2139 12.0743C26.3128 12.6149 25.0513 12.7952 23.7897 12.6149C20.5456 12.2545 18.0225 9.73134 18.0225 6.30707C18.0225 4.68505 18.7434 3.06303 19.8247 1.80146C21.0863 0.539885 22.5281 -0.000789642 24.3304 -0.000789642C26.3128 -0.000789642 28.1151 0.900331 29.1964 1.98168ZM11.1739 1.98168C12.9762 3.96415 14.0575 6.12685 14.0575 9.73134C14.0575 16.0392 9.55192 21.6262 3.24406 24.5098L1.62204 22.1668C7.56945 18.9228 8.83102 14.7776 9.19147 12.0743C8.29035 12.6149 7.02878 12.7952 5.7672 12.6149C2.52316 12.2545 1.52588e-05 9.73134 1.52588e-05 6.30707C1.52588e-05 4.68505 0.720913 3.06303 1.80226 1.80146C2.88361 0.539885 4.50563 -0.000789642 6.30788 -0.000789642C8.29035 -0.000789642 10.0926 0.900331 11.1739 1.98168Z" fill="#ff1749" />
                                </svg>
                            </div>
                        </div>
                        <div class="star">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <h3>
                            Climb the mountain not to plant your flag but to embrace
                            the ways challenge, enjoy the air, and behold the. Climb it
                            see the world, not so the world can see you. This is due to their excellent service competitive pricing
                        </h3>
                        <div class="athor-name">
                            <h4>Robert J. Hare/</h4>
                            <p>Graphics Designer</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-items">
                    <div class="testimonial-image-area">
                        <div class="testimonial-image bg-cover" style="background-image: url('/assets/img/testimonial/08.png');">
                            <div class="icon">
                                <svg width="33" height="25" viewBox="0 0 33 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.1964 1.98168C30.9987 3.96415 32.08 6.12685 32.08 9.73134C32.08 16.0392 27.5744 21.6262 21.2665 24.5098L19.6445 22.1668C25.5919 18.9228 26.8535 14.7776 27.2139 12.0743C26.3128 12.6149 25.0513 12.7952 23.7897 12.6149C20.5456 12.2545 18.0225 9.73134 18.0225 6.30707C18.0225 4.68505 18.7434 3.06303 19.8247 1.80146C21.0863 0.539885 22.5281 -0.000789642 24.3304 -0.000789642C26.3128 -0.000789642 28.1151 0.900331 29.1964 1.98168ZM11.1739 1.98168C12.9762 3.96415 14.0575 6.12685 14.0575 9.73134C14.0575 16.0392 9.55192 21.6262 3.24406 24.5098L1.62204 22.1668C7.56945 18.9228 8.83102 14.7776 9.19147 12.0743C8.29035 12.6149 7.02878 12.7952 5.7672 12.6149C2.52316 12.2545 1.52588e-05 9.73134 1.52588e-05 6.30707C1.52588e-05 4.68505 0.720913 3.06303 1.80226 1.80146C2.88361 0.539885 4.50563 -0.000789642 6.30788 -0.000789642C8.29035 -0.000789642 10.0926 0.900331 11.1739 1.98168Z" fill="#ff1749" />
                                </svg>
                            </div>
                        </div>
                        <div class="star">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <h3>
                            Climb the mountain not to plant your flag but to embrace
                            the ways challenge, enjoy the air, and behold the. Climb it
                            see the world, not so the world can see you. This is due to their excellent service competitive pricing
                        </h3>
                        <div class="athor-name">
                            <h4>Robert J. Hare/</h4>
                            <p>Graphics Designer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-button">
                <div class="testimonial-nav-prev"><i class="fas fa-chevron-left"></i></div>
                <div class="testimonial-nav-next"><i class="fas fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</section>