@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/waited_page.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="main">

                    <div class="error">
                        <i class="ri-error-warning-line"></i>
                        <h2>Please User attention</h2>
                        <p>your account has been deactive by our admin</p>
                        <p>thankyou team nexus !</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>