@model Nexus.Models.mainmodel
@{
    Layout = Layout = "../shared/Dashboard_layout.cshtml";
}

@if (TempData["successfully"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["successfully"]
     
    </div>

}<style>
     .heading {
         color: black;
         font-size: 3rem;
         font-weight: bold;
         text-transform: uppercase;
         /* text-shadow: 2px 2px 4px#d6111e;  */
         text-align: center;
         margin-top: 30px;
         margin-bottom: 10px;
     }

     .underline {
         height: 4px;
         background-color: #d6111e;
         width: 60%;
         margin: 0 auto;
     }</style>
<div class="row">
    <div class="col-md-12">
        <div class="form-container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="heading">
                            Add Reatil Store
                        </h2>
                        <div class="underline"></div>
                    </div>
                </div>
            </div>
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label for="name">Name</label>
                        <input name="Name" type="text" class="form-control" id="email" placeholder="Enter Name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">City</label>
                        <input name="City" type="text" class="form-control" id="email" placeholder="Enter City" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="jobTitle">Area</label>
                        <input name="Area" type="text" class="form-control" id="password" placeholder="Enter Area" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="jobTitle">Contact</label>
                        <input name="Contact" type="text" class="form-control" id="password" placeholder="Enter Contact" required>
                    </div>

                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-modern btn-danger">Add new store</button>
                </div>
            </form>
        </div>
    </div>
</div>
